@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #703635;
    --text-dark: #000;
    --white: #fff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}


img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 12;
}

.nav-header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}


.nav-logo a img {
    max-width: 100px;
}

.nav-logo .dark-logo {
    display: none;
}

.nav-manu-btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav-links.open {
    transform: translateY(100%);
}

.nav-links a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}

header {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: grid;
    gap: 4rem;
}

.header-img {
    overflow: hidden;
}

.header-img img{
    margin-top: 5rem;
    max-width: 500px;
    margin-inline: auto;
}

.header-content h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

.header-content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
}

.header-content p{
    margin-bottom: 2rem;
    
}


@media (width > 768px) {
    nav {
        position: static;
        padding: 1rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header {
        padding: 0;
        background-color: transparent;
    }

    .nav-logo a img {
        max-width: 125px;
    }

    .nav-logo .dark-logo {
        display: flex;
    }

    .nav-logo .light-logo {
        display: none;
    }

    .nav-manu-btn {
        display: none;
    }

    .nav-links {
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav-links a {
        font-weight: 600;
        color: var(--text-dark);
    }

    .nav-links a:hover {
        color: var(--primary-color);
    }


}